<mat-card>
    <img [src]="item.wikiaThumbnail">
    <p>{{item.name}}</p>

    @if (!item.isMyList && !item.isCompleted) {
        <button (click)="addToMyList()">Add To List</button>
    }

    @if (item.isMyList && !item.isCompleted) {
        <button (click)="MarkCompleted()">Mark Completed</button>
    }

    @if (item.isMyList && !item.isCompleted) {
        <button (click)="removeFromMyList()">Remove From My List</button>
    }

    @if (item.isMyList && item.isCompleted) {
        <button (click)="unMarkCompleted()">Unmark Completed</button>
    }


</mat-card>