
.{
    display: block;
    width: 100%;
    border-radius: 100px;
}

@media (min-width: 768px) {
    . {
        width: 25%;css
    }
    
}

img {
    display; block;
    width: 25%;
    height: 25%;
}

p {
    display: block;
}

button {
    display: block;
    width: 100px;
    height: auto;
}