* {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 2px solid #138764;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px black;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  gap: 1rem;
  color: white;
  
}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-content p {
  margin: 0 0 0.5rem;
}

.card-content ul {
  padding-left: 1rem;
  margin: 0;
  text-align: left;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  min-width: 160px;
}

.card-buttons button {
  padding: 0.5rem;
  background-color: #138764;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.card-buttons button:hover {
  background-color: #0a5e4c;
}
