*{
    margin: 0em;
    padding: 0em;
}

body{
  display:flex;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}
#content{
  display: inline-block;
  padding-top: 3em;
}

#header {
  display: inline-block;
  width: 100%;
  background-color: #333333aa;
  color: #fff;
  padding: 1em 0em 1em 0em;
  position: fixed;
  top: 0;
}