@if (itemList.length == 0){
    <div class="empty-state">
        <h2>You're all set!</h2>
        <p> This place is empty, go grab things in the search page.</p>
        <button>Browse Components</button>
    </div>    
}

@else {
    <div class="no-empty-state">
        <form id="searchbar" action="javascript:void(0);">
            <!-- <label for="fname">Filter by name:</label><br> -->
            <input type="text" id="fname" name="fname" [(ngModel)]="fname" placeholder="Write what you search for">
            <input type="submit" value="Search" (click)="loadItems(fname)">
        </form>
        <br>
        <div class="list">
            <h2> Everything you completed is here: </h2>
            @for (item of itemList; track item.name) {
                <app-item-card [item]="item"></app-item-card>
              }
        </div>
    </div>
}

