<body>
  <h1>Welcome Tenno</h1>

  <div *ngIf="resourcesNeeded.size > 0" class="noempty-state">
    <p>Here is what you need to craft the things you want in your list.</p>
  
    <ul>
      @for( res of resourcesNeeded | keyvalue; track res.key){
        @if(res.key != "Blueprint"){
          <li>{{res.key}}: {{res.value}}</li>
        }
      }
    </ul>
  </div>
  
  <div *ngIf="resourcesNeeded.size == 0" class="empty-state">
    <h2>You're all set!</h2>
    <p>There are no crafting resources needed right now.</p>
    <button (click)="goToList()">Browse Components</button>
  </div>
</body>