#searchbar{
    display: inline;
}
h1 {
    margin-top: 3em;
  }
title{
    display: inline;
}
form > input{
    display: inline;
    width: fit-content;
}
app-item-card{
    display: flex;
    flex-direction:column;
    align-items: stretch;
    float: left;
    width: 25%;
    height: 50%;
}
@media (max-width: 600px) {
    
    app-item-card{
        display: flex;
        flex-direction: row;
        width:100%;      
        height: fit-content;
        align-items: center;
        float: left;       
    }
  }
.custom-loader {
    position: relative;
    width:50px;
    height:50px;
    border-radius:50%;
    border:8px solid;
    border-color:#E4E4ED;
    border-right-color: #766DF4;
    animation:s2 1s infinite linear;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @keyframes s2 {to{transform: rotate(1turn)}}

.hidden{
    display: none;
}